---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/gitomic-test/gitomic-test/issues?access_token=4014890907c8ef103452e391f670ef395a3d47e6
    body:
      encoding: US-ASCII
      string: ! '{"title":"Test","body":"test"}'
    headers:
      content-type:
      - application/json
      authorization:
      - Token token="4014890907c8ef103452e391f670ef395a3d47e6"
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      etag:
      - ! '"2230f990cedacf68e3dae2add54b7cda"'
      x-oauth-scopes:
      - gist, repo, user
      x-ratelimit-limit:
      - '5000'
      x-accepted-oauth-scopes:
      - public_repo, repo
      location:
      - https://api.github.com/repos/gitomic-test/gitomic-test/issues/3
      x-ratelimit-remaining:
      - '4997'
      x-github-media-type:
      - github.beta
    body:
      encoding: US-ASCII
      string: ! '{"closed_at":null,"created_at":"2012-11-14T03:28:08Z","comments":0,"milestone":null,"closed_by":null,"body":"test","user":{"gravatar_id":"ec913744ec6c908c66e2cb141dadcd77","avatar_url":"https://secure.gravatar.com/avatar/ec913744ec6c908c66e2cb141dadcd77?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","url":"https://api.github.com/users/gitomic-test","id":2382633,"login":"gitomic-test"},"title":"Test","html_url":"https://github.com/gitomic-test/gitomic-test/issues/3","number":3,"updated_at":"2012-11-14T03:28:08Z","pull_request":{"html_url":null,"patch_url":null,"diff_url":null},"state":"open","url":"https://api.github.com/repos/gitomic-test/gitomic-test/issues/3","labels":[],"id":8344262,"assignee":null}'
  recorded_at: Wed, 14 Nov 2012 03:28:09 GMT
recorded_with: VCR 2.2.5
