---
http_interactions:
- request:
    method: patch
    uri: https://api.github.com/repos/gitomic-test/gitomic-test/issues/1?access_token=4014890907c8ef103452e391f670ef395a3d47e6
    body:
      encoding: US-ASCII
      string: ! '{"title":"Test","body":"changed"}'
    headers:
      content-type:
      - application/json
      authorization:
      - Token token="4014890907c8ef103452e391f670ef395a3d47e6"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-github-media-type:
      - github.beta
      x-oauth-scopes:
      - gist, repo, user
      x-accepted-oauth-scopes:
      - public_repo, repo
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"1511f229510d79ae8f7edc6f3fdd859c"'
      x-ratelimit-remaining:
      - '4996'
    body:
      encoding: US-ASCII
      string: ! '{"closed_at":null,"created_at":"2012-10-11T03:14:22Z","comments":0,"milestone":null,"closed_by":null,"body":"changed","user":{"gravatar_id":"ec913744ec6c908c66e2cb141dadcd77","avatar_url":"https://secure.gravatar.com/avatar/ec913744ec6c908c66e2cb141dadcd77?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","url":"https://api.github.com/users/gitomic-test","id":2382633,"login":"gitomic-test"},"title":"Test","html_url":"https://github.com/gitomic-test/gitomic-test/issues/1","number":1,"pull_request":{"patch_url":null,"html_url":null,"diff_url":null},"updated_at":"2012-11-11T02:50:17Z","state":"open","url":"https://api.github.com/repos/gitomic-test/gitomic-test/issues/1","labels":[{"color":"fc2929","name":"bug","url":"https://api.github.com/repos/gitomic-test/gitomic-test/labels/bug"},{"color":"84b6eb","name":"enhancement","url":"https://api.github.com/repos/gitomic-test/gitomic-test/labels/enhancement"},{"color":"e6e6e6","name":"invalid","url":"https://api.github.com/repos/gitomic-test/gitomic-test/labels/invalid"}],"id":7502421,"assignee":{"gravatar_id":"ec913744ec6c908c66e2cb141dadcd77","avatar_url":"https://secure.gravatar.com/avatar/ec913744ec6c908c66e2cb141dadcd77?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","url":"https://api.github.com/users/gitomic-test","id":2382633,"login":"gitomic-test"}}'
  recorded_at: Wed, 14 Nov 2012 03:28:10 GMT
recorded_with: VCR 2.2.5
