%h1 Import Project

%p.alert.alert-error
  %strong Warning!
  This step is still in heavy development. It will most likely fail for projects with more than ~30 existing open issues. It may also timeout as projects are not yet imported in the background.

%p Click a project name to import it into Gitomic.

.row
  .span6
    %h2 User Repos
    - current_user.repos.each do |repo|
      %p= link_to repo.full_name, projects_path(:full_name => repo.full_name), method: "post"

  .span6
    %h2 Organization Repos
    - current_user.orgs.each do |org|
      %h3= org.name
      - org.repos(current_user).each do |repo|
        %p= link_to repo.full_name, projects_path(:full_name => repo.full_name, :org => true), method: "post"