

.row
  .span8
    %h1 #{@project.owner}/#{@project.name}
  .span4
    .pull-right= link_to "New Issue", new_project_issue_path(@project), :class => "btn"

.row
  .span4
    %h3 Icebox
    %ul.sortable.unstyled{:id => "icebox", :data => { :project_id => @project.id, :list_id => nil }}
      = render @project.issues.without_list.rank(:priority)