---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/gitomic-test/gitomic-test/hooks?access_token=4014890907c8ef103452e391f670ef395a3d47e6
    body:
      encoding: US-ASCII
      string: ! '{"name":"web","active":true,"config":{"url":"http://www.example.com/github/hook","content_type":"json"},"events":["push","issues","issue_comment","commit_comment","pull_request","member","public","status"]}'
    headers:
      content-type:
      - application/json
      authorization:
      - Token token="4014890907c8ef103452e391f670ef395a3d47e6"
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-ratelimit-remaining:
      - '4999'
      x-oauth-scopes:
      - gist, repo, user
      x-ratelimit-limit:
      - '5000'
      location:
      - https://api.github.com/repos/gitomic-test/gitomic-test/hooks/563808
      etag:
      - ! '"4d6d2f033fc61ef471fbe1bb2bbff2c8"'
      x-accepted-oauth-scopes:
      - repo, public_repo
      x-github-media-type:
      - github.beta
    body:
      encoding: US-ASCII
      string: ! '{"config":{"url":"http://www.example.com/github/hook","content_type":"json"},"updated_at":"2012-11-24T21:11:37Z","events":["push","issues","issue_comment","commit_comment","pull_request","member","public","status"],"url":"https://api.github.com/repos/gitomic-test/gitomic-test/hooks/563808","test_url":"https://api.github.com/repos/gitomic-test/gitomic-test/hooks/563808/test","active":true,"name":"web","last_response":{"status":"unused","code":null,"message":null},"id":563808,"created_at":"2012-11-24T21:11:37Z"}'
  recorded_at: Sat, 24 Nov 2012 21:11:37 GMT
recorded_with: VCR 2.2.5
